{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    {% from '_macros/ligne_entree.html.twig' import  lignes_module_groupe %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification Groupe</h5>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
    <div class="modal-body">
        <div id="list-ligne" data-prototype="{{ lignes_module_groupe(form.moduleGroupePermitions.vars.prototype, 1)|e }}"></div>
        {{ include('_includes/ajax/response.html.twig') }}


        <div class="row">
            <div class="form-group col-md-12">
                <label class="sr-onl" for="userinput1">Nom Groupe*</label>
                {{ form_widget(form.name) }}</div>
            <div class="form-group col-md-12">
                <label class="sr-onl" for="userinput1">Description*</label>
                {{ form_widget(form.description) }}</div>

        </div>
        <br>
        <div class="card card-flush shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Ajout des element du menu</h3>
                <div class="card-toolbar">
                    <button type="button" data-origine="1" class="btn btn-sm btn-primary add-ligne btn-xs" data-container=".doc-container">
                        <i class="fa fa-plus"></i>Ajouter
                    </button>
                </div>
            </div>
            <hr class="separateur">
            <div class="card-body py-5">
                <div class="row">
                    <div class="form-group col-md-3">Module</div>
                    <div class="form-group col-md-3">Groupe</div>
                    <div class="form-group col-md-3">Permissions</div>
                    <div class="form-group col-md-1">O.M</div>
                    <div class="form-group col-md-1">O.G</div>
                    <div class="form-group col-md-1 del-col">

                    </div>
                </div>
                <div class="doc-container">
                    {% for ligne in form.moduleGroupePermitions %}
                        {{ lignes_module_groupe(ligne|e) }}
                    {% endfor %}
                </div>
            </div>
            {#<div class="card-footer">
                Footer
            </div>#}
        </div>
        <br>
        {#<div class="card shadow-sm">
            <div class="col-md-12">
                <button type="button" data-origine="1" class="btn btn-default add-ligne btn-xs" data-container=".doc-container">
                    <i class="fa fa-plus"></i>Ajouter une ligne
                </button>
            </div>
            <div class="card-body">
                <div class="doc-container">
                    {% for ligne in form.motifs %}
                        {{ list_ligne_motif(ligne|e) }}
                    {% endfor %}
                </div>
            </div>
        </div>#}
    </div>
    <div class="modal-footer">
        {# {{ include('_includes/ajax/loader.html.twig') }} #}
        <button type="button" class="btn btn-default " data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-main btn-ajax"><span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> Valider</button>
        {#<button href="{{ path('app_stock_magasin_demande_new') }}" class="btn btn-main btn-sm exampleModalSizeLg2" id="exampleModalSizeLg2" data-bs-toggle="modal" data-bs-target="#exampleModalSizeLg2"><span class="bi bi-trash"></span></button>#}
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}



{% endblock %}

{% block java %}
    <script>
      //  $(".del-col").hide();


        $(function () {
            init_select2('select');
        });

        $(function () {

            $('.element,.dateFin').on('change',function (e)  {
                var date1 = new Date($(".dateDebut").val());
                var date2 = new Date($(".dateFin").val());
                var time_diff = date2.getTime() - date1.getTime();
                // différence de jours
                var days_Diff = time_diff / (1000 * 3600 * 24);

                $(".nbre").val(days_Diff+1);

            })

            const $container = $('.doc-container');
            const $card = $('.card');
            var index = $container.find('.row-line').length;
            /*$container.find('.coutCump').attr('readonly', true)*/
            const $addLink = $('.add-ligne');

            $addLink.click(function(e) {

                addLine($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            });

            if (index > 0) {
                $container.children('.row-line').each(function() {
                    const $this = $(this);
                    addDeleteLink($this);
                    $this.find("select").each(function() {
                        const $this = $(this);
                        init_select2($this, null);
                    });

                });
            }


            // La fonction qui ajoute un formulaire Categorie
            function addLine($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($("#list-ligne").attr('data-prototype').replace(/__name__label__/g, 'Pièce ' + (index + 1)).replace(/__name__/g, index));
                // On ajoute au prototype un lien pour pouvoir supprimer la prestation
                addDeleteLink($prototype);
                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);
                init_select2('select');
                $prototype.find("select").each(function() {
                    const $this = $(this);
                    init_select2($this, null);
                });

                index++;


            }


            function addDeleteLink($prototype) {


                // Création du lien
                $deleteLink = $(`<a href="" class="btn btn-danger btn-xs" ><span class="bi bi-trash"></span></a>`);

                // Ajout du lien
                $prototype.find(".del-col").append($deleteLink);
                // $prototype.find('.enfant_malade').remove();
                //$prototype.find('.precisez').addClass("form-group col-md-6");
                //$('#table1').addClass('table-striped m-3');
                //$('.enfant_malade').remove();
                //$('.precisez').addClass("form-group col-md-6");
                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    const $parent = $(this).closest('.row-line');
                    $parent.remove();


                    if (index > 0) {
                        index -= 1;
                    }

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                });
            }
        });

    </script>
{% endblock %}